:root {
    --random-color: #f06; /* Giá trị mặc định nếu biến JavaScript chưa được cài đặt */
}
body {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/*_____________________HEADER_____________________*/
header {
    color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 20px 20px 5px 20px;
    margin-top: 20px;
    position: relative; /* Để có thể định vị ảnh bìa */
    box-shadow: gray 0 0 12px 4px;
}

.cover-image {
    width: 90%;
    height: 200px; /* Kiểm soát chiều cao của ảnh bìa */
    object-fit: cover; /* Giúp hiển thị ảnh bìa mà không bị nén */
    border-radius: 10px;
}

.profile-header {
    text-align: center;
    position: relative;
}
/*-----------------Load ảnh avt-----------------*/
.loader-container {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 0 auto; /* Căn giữa ngang */
}

.profile-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -100%; /* Điều này sẽ tạo khoảng cách từ phía trên của container */
}

.custom-loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #766DF4 transparent;
    animation: s1 0.5s infinite;
    position: absolute;
    left: 0;
    top: -100%;
}

@keyframes s1 {
    to {
        transform: rotate(.5turn);
    }
}
/*-----------------Load tên-----------------*/
.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 10px 0 0 ;
}

.glitch {
   position: relative;
   font-size: 30px;
   font-weight: bold;
   color: #FFFFFF;
   letter-spacing: 3px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #00FFFF;
   z-index: -1;
}

.glitch:after {
   animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #FF00FF;
   z-index: -2;
}

@keyframes glitch-it {
   0% {
      transform: translate(0);
   }
   20% {
      transform: translate(-2px, 2px);
   }
   40% {
      transform: translate(-2px, -2px);
   }
   60% {
      transform: translate(2px, 2px);
   }
   80% {
      transform: translate(2px, -2px);
   }
   to {
      transform: translate(0);
   }
}

/*-----------------Công tắc-----------------*/
/* Chủ đề Sáng */
.light-theme {
  background-color: #fff;
  color: #333;
}

/* Chủ đề Tối */
.dark-theme {
  background-color: #333;
  color: #fff;
}

.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #eee;
  border-radius: 25px;
  position: relative;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 5%;
}

.toggle-switch::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #666;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
  left: 0;
  transform: translateX(0);

  top: -2px; /* căn chỉnh do dùng các tags ẩn */
  transform: translateY(0); 
}

.toggle-switch.active {
  background-color: #666;
}

.toggle-switch.active::before {
  background-color: #eee;
  left: 25px;
  transform: translateX(-15%);
}

/*_____________________MAIN_____________________*/
main {
    width: 100%;
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    overflow-y: auto;
}

.main-container {
    padding: 0 5%;
}

/*-----------------Các tag-----------------*/
.tags {
    display: flex;
    flex-wrap: wrap; /* Cho phép các tag tự xuất hiện thành nhiều hàng */
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag {
    margin: 10px;
    padding: 0 5px;
    cursor: pointer;
    height: 30px; /* Cố định chiều cao của các tag */
    line-height: 30px; /* Căn văn bản giữa các tag */
    border-radius: 12px;
    border: 2px solid; gray;
    font-weight: bold;
}

.tag-content {
    display: none;
}

.active {
    display: block;
}

section {
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: auto;
}

/*-----------------Về tôi-----------------*/
.info-box {
    display: flex;
    justify-content: space-between;
}

.info-label, .info-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
}

.info-label {
    flex: 20%;
    background-color: #aaa;
}

.info-content {
    flex: 60%;
    background-color: #ddd;
}

/*-----------------Sở thích-----------------*/
.hobby-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobby {
    text-align: center;
    border: 2px solid #ddd; /* Thêm border */
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2; /* Màu nền */
    margin: 10px;
    flex-basis: calc(25% - 44px); /* Hiển thị 4 sở thích trên 1 hàng và cách nhau */
    /* Còn lại của mã CSS */
}

.hobby i {
    font-size: 36px; /* Kích thước của biểu tượng */
    color: #333; /* Màu của biểu tượng */
}

.hobby p {
    margin: 10px 0; /* Khoảng cách giữa biểu tượng và tên sở thích */
    font-size: 18px; /* Đặt kích thước font */
    font-weight: bold; /* Đặt độ đậm của font */
}

/*-----------------Liên hệ-----------------*/
.group {
    border: 2px solid #ddd;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    position: relative; /* Để có thể định vị tiêu đề */
    text-align: center;
    margin: 40px 20px;
}

.group h3 {
    position: absolute;
    max-width: 100%; /* Giới hạn chiều rộng tối đa */
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    top: -40px; /* Điều chỉnh khoảng cách từ mép trên */
    left: 50%; /* Để căn giữa ngang */
    transform: translateX(-50%); /* Để căn giữa ngang */
    background-color: #ccc; /* Để làm nền cho tiêu đề */
    padding: 10px; /* Điều chỉnh độ rộng của nền */
    border-radius: 20px;
    z-index: 1; /* Để tiêu đề nằm trên phần tử .social-item */
}

.social-links {
    display: flex;
    flex-wrap: wrap; /* Cho phép các mục tự động xuống dòng khi cần */
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin-top: 20px;
}

.social-item {
    min-width: 40%;
    margin: 20px; /* Đặt khoảng cách giữa các phần tử */
    border: 2px solid gray;
    border-radius: 20px;
    flex: 1; /* Cài đặt các phần tử để tự động chiếm hết chiều rộng khi không đủ chỗ trên cùng một dòng */
    text-align: center; /* Căn giữa nội dung */
    padding: 10px;
    cursor: pointer;
    /* Sử dụng biến CSS thay vì giá trị cứng */
    background: linear-gradient(to right, var(--random-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s, color 0.3s;
}

.social-item.active {
    background-position: left bottom;
}

a {
    text-decoration: none;
    color: inherit;
    border: 2px solid gray;
    padding: 10px 5%;
}

a i::after{
    content: "|"; /* Thêm kí tự | vào sau thẻ i */
    margin: 0 10px; /* Khoảng cách giữa kí tự | và nội dung */
}

#zalo-link i {
    font-size: 14px; /* Điều chỉnh kích thước theo ý muốn */
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
